result
/withdeps/obj/
/withdeps/bin/
/withdeps/alire/
/withdeps/config/
/helloworld/obj/
/helloworld/bin/
/helloworld/alire/
/withpinned/config/
/withpinned/obj/
/withpinned/bin/
/withpinned/alire/
/withpinned/config/
*~
